In [35]:
import numpy as np

## Split a string

In [59]:
testString = "23.0,25.3,27.0,87,45,43,23,34,34,5,6,5,3,4,5,7,4,33,4,5,6,7,4,44"

In [60]:
print(testString)

23.0,25.3,27.0,87,45,43,23,34,34,5,6,5,3,4,5,7,4,33,4,5,6,7,4,44

In [61]:
stringlist = testString.split(",")

## Turn characters into floats

In [62]:
floatlist = [float(x) for x in stringlist]
floatlist

[23.0,
 25.3,
 27.0,
 87.0,
 45.0,
 43.0,
 23.0,
 34.0,
 34.0,
 5.0,
 6.0,
 5.0,
 3.0,
 4.0,
 5.0,
 7.0,
 4.0,
 33.0,
 4.0,
 5.0,
 6.0,
 7.0,
 4.0,
 44.0]

## Change into 2D array

In [63]:
arr = np.array(floatlist)

In [65]:
arr.reshape([4,6])

array([[23. , 25.3, 27. , 87. , 45. , 43. ],
       [23. , 34. , 34. ,  5. ,  6. ,  5. ],
       [ 3. ,  4. ,  5. ,  7. ,  4. , 33. ],
       [ 4. ,  5. ,  6. ,  7. ,  4. , 44. ]])